@import "var"
@import "mixins"


*,
*:before,
*:after
  box-sizing: border-box
  margin: 0
  padding: 0
  //display: flex
.title
  color: $text-secondary-color
  font-size: 30px
  font-weight: 700
  line-height: 1.2
  text-align: center
  @include respond-to(md)
    //color: #141414;
    font-size: 40px

.fade-enter-active, .fade-leave-active
  transition: opacity 0.5s
.fade-enter, .fade-leave-to
  opacity: 0

.fade-in-enter-active
  transition: opacity 0.5s
.fade-in-enter, .fade-in-leave-to
  opacity: 0

.header-on-dark
  color: $text-accent-color
  font-size: 30px
  line-height: 1.2
  font-weight: 700
  text-align: center
  @include respond-to(md)
    font-size: 40px
